body {
        background-color: #eeeeee;
		height:100%;
}

div.container{
	position: relative;
	top: 50%;
	transform: translateY(50%);
}

input {
	box-shadow: 0px 0px 4px 4px rgba(0,0,0,.5);
        color: #3B73A0;
        text-align: center;
	font-family: arial;
        font-size: 20px;
	Width:150px;
	height:150px;
	padding:10px;
	background-color:#dddddd;
	margin:20px;
	border:none;
	transition: all .1s ease-in-out;
}

input:hover{
	transform:scale(1.1);
	background-color:#eeeeee;
	box-shadow: 0px 0px 4px 4px #3B73A0;
	cursor:pointer;	
}

input:active{
	background-color:#3B73A0;
	color: #eeeeee;
}

img{
	display: block;
        margin-left: auto;
        margin-right: auto;
	margin-top:200px;
}

#banner{
	font-size:8rem;
	color:#3B73A0;
	margin-top:150px;
	margin-bottom:150px;
	width:50%;
	border:5px solid #3B73A0;
}